In [1]:
import pandas as pd
df1 = pd.read_csv("1000_Companies.csv")

In [2]:
df1.head()

   R&D_Spend  Administration  Marketing_Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
df1.isna().sum()

R&D_Spend          5
Administration     4
Marketing_Spend    0
State              0
Profit             0
dtype: int64

In [5]:
df1['R&D_Spend'] = df1['R&D_Spend'].ffill()

In [6]:
df.to.csv("C:\Users\Saurabh Somkuwar\Downloads\Data science course")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-6-57adc6aebadc>, line 1)

In [7]:
df1.to.csv('C:\Users\Saurabh Somkuwar\Downloads\Data science course')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-7-7a84a71b84b3>, line 1)

In [9]:
df1.to_csv('C:\Users\Saurabh Somkuwar\Downloads\Data science course')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-9-3f43d65f3ae3>, line 1)

In [10]:
df1.to_csv('C:\Users\Saurabh Somkuwar\Downloads\Data science course/cleaned_r&d.csv')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-10-41c96aff8f42>, line 1)

In [11]:
df1.to_csv('cleaned_r&d.csv')

In [12]:
df2= df1

In [15]:
df2['Administration'] = df2['Administration'].bfill()

In [17]:
df2.to_csv('cleaned_ad1.csv')

In [18]:
df2.isna().sum()

R&D_Spend          0
Administration     0
Marketing_Spend    0
State              0
Profit             0
dtype: int64

In [21]:
df2['Administration'] = df2['Administration'].fillna(df2.Administration.mean())

In [22]:
df2.to_csv('meaned_1000_comapnies.csv')

In [23]:
df2['Administration'] = df2['Administration'].fillna(df2.Administration.median())

In [24]:
df3 =df1

In [25]:
df3.dropna(axis =0,inplace= True)

In [26]:
df3.shape

(1000, 5)

In [27]:
df3.isna().sum()

R&D_Spend          0
Administration     0
Marketing_Spend    0
State              0
Profit             0
dtype: int64

In [28]:
df3.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [29]:
df3.State.count()

1000

In [31]:
X = df3[['R&D_Spend','Administration','Marketing_Spend']] #independent columns

In [32]:
X.head()

   R&D_Spend  Administration  Marketing_Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [35]:
from sklearn.model_selection import train_test_split
#Y #dependent variables
y = df3.Profit

In [36]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.3)

In [37]:
X_train.shape,X_test.shape

((700, 3), (300, 3))

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
model = LinearRegression()

In [40]:
model_train = model.fit(X_train,y_train)

In [41]:
model_train.coef_ #m

array([0.43324582, 0.87615877, 0.15106965])

In [42]:
model_train.intercept_ #c

-57775.13966935074

In [45]:
y = 0.43324582*X1 + 0.87615877*X2 + 0.15106965*X3 - 57775.13

In [44]:
X1= 30000
X2= 40000
X3= 80000

In [46]:
y

2354.1674000000057

In [47]:
pred=model_train.predict(X_test)

In [48]:
pred

array([173303.62027158, 171573.15242761, 104501.72156356, 150010.63464095,
       170884.72341565, 173856.24253248,  51646.43429214, 181821.00700153,
       176107.72984381, 139423.69033357, 176335.78263304, 156828.30216202,
        57616.80468867,  54008.95854166, 177804.88660753, 164669.21769663,
        89911.46885237,  94752.67906514,  98815.77657022,  80859.39663933,
        83906.93331833, 176959.2976836 , 112990.92197067, 174751.37101266,
       121397.6786272 , 134467.17256251, 179314.13473659, 131034.42316721,
       143403.93721726,  88380.8674899 , 103521.18001682,  95611.93401989,
        73933.25451648, 144857.66694671,  83986.36746903,  80151.32266556,
       294074.84659725,  63451.36832508,  99657.09486499,  87572.86027538,
       130772.20524199, 146022.70055469,  69062.14981199, 120759.23644402,
        99127.53413931, 148716.52200986, 102321.98118524, 141175.51142605,
       127593.98656933, 133961.52751541,  99774.96486844, 144381.06226309,
        90517.04724294, 121595.42995117, 154880.03105874, 112836.32440115,
       180969.43916174,  56497.89405144, 170101.4794447 , 161462.81281896,
       128683.00261514, 163367.52328186, 160591.59992975, 130947.30190155,
        54419.79520965, 142837.64891042, 130149.54424717, 184300.54701447,
        59687.21632487,  93301.51176575, 110744.55943185, 173274.5798356 ,
        82876.85223045, 170010.94818399, 121595.42995117, 151048.4028438 ,
        68196.06178291, 113792.95026931, 122677.61293775, 129340.6828893 ,
       114870.86261163, 127342.87233249, 139898.58673049, 126327.3114339 ,
        79525.24518494,  67722.77999113, 107048.6367269 , 143681.52954764,
       138850.17703341, 134193.8509338 ,  69075.81593043,  77982.68599074,
       105212.35786467, 111486.79862922,  70912.19594612, 166326.23040849,
        70638.8742298 , 176680.85119476, 110012.56979461,  99552.03683662,
        59700.88244936, 181776.59221779,  78192.80203236,  80065.05554326,
       152145.10609218, 139199.05411776, 124615.63448089, 121829.46167137,
        59623.15659443, 132816.13885414, 106024.63579596, 139474.08403317,
        80583.51258056,  72834.84306901,  65576.44437463,  80163.28051241,
       100906.68739617, 163801.42139595, 138556.74817624, 161181.80398767,
       180592.76771886, 126013.84566572,  89153.14242245, 121838.00292969,
       162779.02751064,  95889.52636537, 140932.93844753, 152475.65447972,
       103223.94272464,  66100.8803278 , 173106.31622015,  57147.88720763,
        65307.39330257,  55291.86215309, 138014.37546036, 157665.34981252,
       119291.84075625,  84906.26566841, 152516.65276254, 158289.71900643,
       176083.81416523, 156221.86971571, 101308.98271672, 180592.76771886,
        87465.23991967, 138965.37477271, 141389.0440411 , 181437.50249943,
       177778.40860161, 142917.93711686, 182537.62223361, 168548.5737549 ,
       111606.37683178, 152609.75294407, 165833.39726397, 140065.99629019,
       185403.22917872,  57502.35126468, 184889.89692905, 107732.04211981,
        57822.6500951 , 136976.60725752, 121085.51418729,  85136.02675946,
       148475.76256171, 158948.84094773,  76584.47480591,  70351.88648264,
        92854.80166146,  65127.17185539,  92142.45707364,  85883.39071424,
        97590.09971762,  73510.46010588, 205078.17579179, 105325.95723897,
       126463.11818496,  90155.7501176 , 118566.68416312, 121337.4826551 ,
        99652.82423583, 141687.13549174, 168584.55070653, 159010.60486768,
        82179.02781682, 144472.4541579 , 128610.40153877, 120261.27851188,
        89090.64975038,  51636.18474258, 101456.74729951, 137811.94663642,
        63731.52301301,  88069.96406416, 169910.16079989, 132186.96154124,
       143211.75792323, 149317.08085648, 167745.79484183, 106750.64644482,
       163476.85192428, 153034.07487761, 177169.41372523, 176242.6823639 ,
       141215.65558063, 140865.46214367, 109693.12511056, 136630.68446483,
       158319.61351326, 102563.70002041, 113536.71117234, 139252.01015981,
        85162.50476538,  91992.98427664,  97145.09782753, 114168.56878336,
       170512.32268955, 165668.55004671,  60339.77182501, 169652.21350382,
       114632.56027737, 112403.2803428 ,  69026.27637418, 141751.19522217,
       170802.72692251, 167729.56636583, 177336.82326983, 154697.2471966 ,
       111991.58962058, 131919.30208725, 157869.48693828, 178011.58616335,
        79654.21887678,  98064.14197118, 146538.59524954, 111810.51394243,
        95417.19239852,  59103.05793494, 184280.04790932,  83745.5026896 ,
       156522.5235088 , 169961.40864285, 129988.11361844, 140632.28466954,
       105852.9556222 ,  91491.60977109, 176041.96182667, 181579.28807874,
        94672.39077109,  61228.06732451, 146840.95731423, 184434.64547883,
       169902.47368492, 100754.6521691 , 165222.69410089,  86122.54711935,
       322251.48881464, 124160.38303068, 156294.47080718,  96968.29286615,
       101379.02145063, 154165.97818421, 117032.66622724,  95529.93754185,
       110347.38889892, 126317.06187377, 110712.10249496, 157482.56595038,
       163086.51436296, 184916.37495007, 114721.38981463, 139359.63060314,
       118048.22705332,  60766.83696145, 161006.70722539, 109245.56086292,
       181847.48502256,  89947.34236268, 141416.37620548,  75800.38326997,
        80461.37194794,  65870.2651085 , 130234.95729863, 122263.35978546,
       128406.26441301, 139216.13673711,  62581.00958527, 168271.93908171,
       126404.18313943, 162122.20137983,  56130.61810239, 135152.18508867,
       100786.25505026, 158678.34820854,  88425.28227363, 159566.643702  ,
       121486.9554521 , 158030.06342366, 135238.45219587,  57147.03306427])

In [49]:
pred.shape

(300,)

In [52]:
from sklearn.metrics import r2_score
r2_score(y_test,pred)

0.9198570078978283

In [53]:
y

2354.1674000000057

In [54]:
from sklearn import preprocessing

In [55]:
le = preprocessing.LabelEncoder()

In [58]:
le.fit(df1['State'])

LabelEncoder()

In [59]:
list(le.classes_)

['California', 'Florida', 'New York']

In [61]:
df1['State'] = le.transform(df1['State'])

In [63]:
df1.head()

   R&D_Spend  Administration  Marketing_Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [64]:
list(le.inverse_transform([2,2,1]))

['New York', 'New York', 'Florida']