In [1]:
### Pandas is for Data Manipulation
### Data Frame and Series
## Advance packages of Python  ----- pip

In [4]:
import pandas as pd

In [5]:
pd.__version__

'0.23.4'

In [7]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.0.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: AMD64 Family 21 Model 112 Stepping 0, AuthenticAMD
byteorder: little
LC_ALL: None
LANG: None
LOCALE: None.None

pandas: 0.23.4
pytest: 5.3.3
pip: 19.3.1
setuptools: 40.2.0
Cython: 0.28.5
numpy: 1.18.1
scipy: 1.1.0
pyarrow: None
xarray: None
IPython: 6.5.0
sphinx: 1.7.9
patsy: 0.5.0
dateutil: 2.7.3
pytz: 2018.5
blosc: None
bottleneck: 1.2.1
tables: 3.4.4
numexpr: 2.6.8
feather: None
matplotlib: 2.2.3
openpyxl: 3.0.3
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.1.0
lxml: 4.2.5
bs4: 4.6.3
html5lib: 1.0.1
sqlalchemy: 1.2.11
pymysql: None
psycopg2: None
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: 0.8.1

In [54]:
import pandas as pd
df = pd.DataFrame({'X':[78,85,30,80,78,30],'Y':[45,50,25,78,55,45],'Z':[47,78,60,69,78,30],"p" : ["A","B","C","D","E","F"]})

In [55]:
type(df)

pandas.core.frame.DataFrame

In [56]:
#df.tail(2),
df[["X","Y"]]

    X   Y
0  78  45
1  85  50
2  30  25
3  80  78
4  78  55
5  30  45

In [34]:
df['X'].sum()

193

In [ ]:
## iloc , ### loc

In [26]:
(78+85+30)

193

In [12]:
s = pd.Series([2,3,4,5])

In [13]:
s

0    2
1    3
2    4
3    5
dtype: int64

In [50]:
## loc , iloc ,  ix  - its is been depricated 
df.loc[[0,3],["X","Z"]]

    X   Z
0  78  47
3  80  69

In [60]:
df.describe(include = 'all')

                X          Y          Z    p
count    6.000000   6.000000   6.000000    6
unique        NaN        NaN        NaN    6
top           NaN        NaN        NaN    F
freq          NaN        NaN        NaN    1
mean    63.500000  49.666667  60.333333  NaN
std     26.074892  17.224014  18.959606  NaN
min     30.000000  25.000000  30.000000  NaN
25%     42.000000  45.000000  50.250000  NaN
50%     78.000000  47.500000  64.500000  NaN
75%     79.500000  53.750000  75.750000  NaN
max     85.000000  78.000000  78.000000  NaN

In [58]:
df

    X   Y   Z  p
0  78  45  47  A
1  85  50  78  B
2  30  25  60  C
3  80  78  69  D
4  78  55  78  E
5  30  45  30  F

In [61]:
df["X"].describe()

count     6.000000
mean     63.500000
std      26.074892
min      30.000000
25%      42.000000
50%      78.000000
75%      79.500000
max      85.000000
Name: X, dtype: float64